.app-bg {
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  overflow: hidden; /* just in case */
  z-index: 0;
}

.app-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(6, 6, 6, 0.3), rgba(6, 6, 6, 0.3)),
    url('https://www.hover.dev/black-noise.png');
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  opacity: 0.05;
  z-index: -1;
}

.empty{
  height: 200px;
}
.navbar {
  width: 100%;
  height: 50px;
  padding: 0 4rem;
  border-radius: 20px;
 margin-top: -30px;

  /* Blurred backdrop */
  background: rgba(6, 6, 6, 0.5); /* darker than app-bg's 0.3 */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);


  z-index: 1000;
}

.list ::before{
 content: '';
 position: absolute;
 width: 100%;
 bottom: 0;
 left: 0;
 background: linear-gradient(to top,#060606,transparent);
}

.logowrapper{
  background-color: #00d8ff;
  border-radius: 10px;
  padding: 5px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
