.app-bg {
  position: relative;
  min-height: 100vh;
  padding: 2rem;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 0;
}

.app-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(rgba(6, 6, 6, 0.3), rgba(6, 6, 6, 0.3)),
    url("https://www.hover.dev/black-noise.png");
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  opacity: 0.05;
  z-index: -1;
}
.coverBG {
  background: rgba(6, 6, 6, 0.8);
  background-position: center;
  background-repeat: repeat;
  background-size: auto;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  opacity: 0.05;
}
.empty {
  height: 200px;
}

.showcode::-webkit-scrollbar {
  width: 8px;
}

.showcode::-webkit-scrollbar-track {
  background: transparent;
}

.showcode::-webkit-scrollbar-thumb {
  background-color: rgba(159, 170, 172, 0.6);
  border-radius: 20px;
}

.searchComponent::-webkit-scrollbar {
  width: 8px;
}

.searchComponent::-webkit-scrollbar-track {
  background: transparent;
}

.searchComponent::-webkit-scrollbar-thumb {
  background-color: rgba(159, 170, 172, 0.6);
  border-radius: 20px;
}

.componentList {
  display: block;
}
.githubExample {
  display: block;
}
.drawerComponent {
  display: none;
}

@media (max-width: 864px) {
  .componentList {
    display: none;
  }
  .githubExample {
    display: none;
  }
  .drawerComponent {
    display: block;
  }
  .componentList {
    display: none;
  }
}
.library {
  background-color: #121212;
  border: 1px solid #3b4345;
  padding: 6px;
  border-radius: 10px;
  width: 170px;
  height: 40px;
}
@media (max-width: 640px) {
  .library {
    width: 300px;
  }
}
.navbar {
  width: 100%;
  height: 55px;
  margin-left: -1rem;
  padding-right: 3rem;
  padding-bottom: 5px;
  border-radius: 20px;
  margin-top: -35px;

  /* Blurred backdrop */
  background: rgba(6, 6, 6, 0.5); /* darker than app-bg's 0.3 */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  z-index: 1000;
}

.navbar2 {
  width: 100%;
  height: 55px;
  margin-left: -1.7rem;
  padding-right: 1.3rem;
  padding-bottom: 5px;
  border-radius: 20px;
  margin-top: -35px;
  /* Blurred backdrop */
  background: rgba(6, 6, 6, 0.5); /* darker than app-bg's 0.3 */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  z-index: 1000;
}

.list ::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, #060606, transparent);
}

.logowrapper {
  background-color: #00d8ff;
  border-radius: 10px;
  padding: 5px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/*Components Custom Css is Here !*/

.animate-aurora {
  background-size: 200% auto;
  animation: aurora 2s linear infinite;
}

@keyframes aurora {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes drip {
  0% {
    transform: translateY(0) scaleY(1);
    opacity: 1;
  }
  100% {
    transform: translateY(20px) scaleY(2);
    opacity: 0;
  }
}

.animate-drip {
  opacity: 0;
  animation: drip 1.5s linear infinite;
}

.cardIm2g {
  background-image: url(https://res.cloudinary.com/datm8nslc/image/upload/v1746221984/images8_c4eus0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: card 0.8s linear infinite;
}

@keyframes card {
  0% {
    background-image: url(https://res.cloudinary.com/datm8nslc/image/upload/v1746222025/images_5_q74apj.jpg);
  }
  50% {
    background-image: url(https://res.cloudinary.com/datm8nslc/image/upload/v1746222033/images_9_rgjjwh.jpg);
  }
  100% {
    background-image: url(https://res.cloudinary.com/datm8nslc/image/upload/v1746221984/images8_c4eus0.jpg);
  }
}

/* Add this to your CSS file */
prompt {
  font-size: 0.8em;   /* Makes the text smaller */
  padding: 4px 8px;   /* Optional: reduce padding */
  display: inline-block; /* Optional: for inline styling */
}
